server:
  port: 8080

spring:
  application:
    name: BaatCheet

  thymeleaf:
    cache: false

  security:
    user:
      name: 
      password: 
  mongodb:
    uri: mongodb://localhost:27017/BaatCheet

